header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffbd59;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 30px;
    box-sizing: border-box;
    z-index: 1000;
}


:root {
  --header-height: 80px; }  

body {
    margin: 0;
    background-color: #f7f9fb;
}

html, body {
  font-family: "Poppins", sans-serif; 
  line-height: 1.6; 
  color: #222; 
  margin: 0;
  padding: 0;
}


.logo img {
    height: 70px;
    margin-right: 20px;
    position: relative;
    }

.section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;
    }

.buscador input {
        padding: 5px 10px;
        border-radius: 10px;
        border: 1px solid #6d6b6b;
    }

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    background: #ffbd59;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;

}

.menu li a { 
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    transition: 0.3s;
}

.menu li a:hover {
    background: #1b951c;
    color: blanchedalmond;
    font-style: italic;
    border-radius: 6px;
}
section{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("IMAGEN/imagen4.png");
    height: 200px;
    align-items: center;
    background-size: cover;
    background-position: 30% 20%;
  }



main {
    max-width: 900px;
    margin: auto;
    margin-top: 180px;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

main h1 {
    text-align: center;
    color: #ffbd59;
    padding-top: 80px;
    text-shadow: 2px 2px 5px #080808;
}

main h2 {
    text-align: center;
    color: #04520b;
    margin-top: 30px;
}

main p {
    font-size: 1.1em;
    text-align: justify;
    margin-bottom: 20px;
}

.lista-grados {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.lista-grados li {
    background: #e3f2fd;
    border-left: 5px solid #04520b;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 6px;
}

.lista-grados li:hover {
    background-color: #ffbd59;
    cursor: pointer;
}



.footer-main { 
  background: linear-gradient(135deg, #1b951c, #23b423);
  color: white;
  padding: 50px;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}


.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 90px;
    text-align: left;
}

.footer-col {
  flex: 1;
  min-width: 300px;
}

.footer-col h3 {
  color: white;
  margin-bottom: 5px;
}

.footer-col p, 
.footer-col ul {
  font-size: 0.95em;
  padding: 2px;
  margin-top: 2px;
}

.footer-col ul {
  list-style: none;
}

.footer-col li {
  margin-bottom: 5px;
}

.footer-col img {
  width: 200px;
  padding: 20px;
  margin-left: 80px;
}

.footer-bottom {
  width: 100%;
  text-align: center;
  border-top: 1px solid #080808;
  border: none;
  height: 1px;
  background: linear-gradient(to right, #ff7e00, transparent);
  width: 1500px;
  margin: 10px 0;
  margin-left: 0;
  border-radius: 25px;
  padding-top: 15px;
  font-size: 0.9em;
  color: #fcfcfc;}